<template>
  <div>
    <div class="headForm container">
      <div class="wrap">
        <div class="headDescription">Заполните данные о ИП/юридическом лице</div>
        <div class="steps">
          <div class="arrow">
            <router-link to="/#">
              <b-icon icon="arrow-left-short"/>
            </router-link>
          </div>
          <div class="stepNow">Шаг 2 </div>
          <div class="stepAll"> из 4</div>
        </div>
      </div>
    </div>
    <Form/>
  </div>
</template>

<script>
import Form from '../components/Form.vue'

export default {
  name: 'Page2',
  components: {
    Form
  }
}
</script>

<style scoped lang="scss">
.headForm {
  background-color: #E2E5EB;
  height: 140px;
}
.headDescription {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}
.wrap {
  width: 66%;
  padding-top: 32px;
}
@media screen and (max-width: 634px) {
  .wrap {
    width: 100%;
  }
}
@media screen and (max-width: 1319px) {
  .wrap {
    padding-top: 12px;
  }
}
.container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 634px) {
  .container {
    padding: 0px;
  }
}
.stepAll {
  font-size: 14px;
  line-height: 20px;
}
.stepNow {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.steps {
  display: flex;
}
.arrow {
  margin-right: 18px;
}
</style>
