<template>
  <div class="container">
    <div class="wrap">

      <div class="form">
        <div class="title">
          Данные о ИП/юридическом лице
        </div>
        <div class="description">
          Укажите ИНН или название ИП/юридического лица, и большинство полей будут автоматически заполнены.
          Проверьте, пожалуйста, корректность указанных данных
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="INN" class="col-form-label col-form-label-sm">ИНН</label>
              <input
                type="text"
                class="form-control"
                id="INN"
                placeholder="00000000000"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="OGRN" class="col-form-label col-form-label-sm">ОГРН/ОГРНИП</label>
              <input
                type="text"
                class="form-control"
                id="OGRN"
                placeholder="00000000000"
              >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="IP" class="col-form-label col-form-label-sm">Полное наименование ИП/юоидического лица</label>
          <input
            type="text"
            class="form-control"
            id="IP"
            placeholder="Укажите полное наименование ИП/юоидического лица"
          >
        </div>
      </div>

      <div class="form">
        <div class="title">
          Реквизиты расчетного счета
        </div>
        <div class="description">
          Укажите реквизиты расчетного счета ИП/юридического лица, на который банк будет зачислять денежные средства
          в рамках торгового эквайринга
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="bank" class="col-form-label col-form-label-sm">Наименование банка</label>
              <input
                type="text"
                class="form-control"
                id="bank"
                placeholder="Укажите название банка"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="BIK" class="col-form-label col-form-label-sm">БИК банка</label>
              <input
                type="text"
                class="form-control"
                id="BIK"
                placeholder="000000000"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentAccount" class="col-form-label col-form-label-sm">Рачетный счет</label>
              <input
                type="text"
                class="form-control"
                id="paymentAccount"
                placeholder="45100000000000000001"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="correspondAccount" class="col-form-label col-form-label-sm">Корреспондентский счет</label>
              <input
                type="text"
                class="form-control"
                id="correspondAccount"
                placeholder="45100000000000000001"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="form-group">
          <label for="legalAddress"  class="col-form-label-lg">Юридический адресс ИП/юридического лица</label>
          <input
            type="text"
            class="form-control"
            id="legalAddress"
            v-model="valueAddress"
            placeholder="Индекс, регион, город, улица, дом, корпус/строение, офис/квартира"
          >
          <b-form-checkbox
            v-model="statusAddress"
            size="lg"
            class="checkbox address"
            @change="checkboxStatus"
          >
            Совпадает с фактическим адресом
          </b-form-checkbox>
        </div>
      </div>

      <div class="form">
        <div class="form-group">
          <label for="legalAddress"  class="col-form-label-lg">Фактический адресс ИП/юридического лица</label>
          <input
            type="text"
            class="form-control"
            id="legalAddress"
            v-model="checkboxStatus"
            placeholder="Индекс, регион, город, улица, дом, корпус/строение, офис/квартира"
          >
        </div>
      </div>

      <div class="form">
        <div class="title">
          Сведения о лицензии
        </div>
        <b-form-checkbox
          v-model="statusLicense"
          size="lg"
          class="checkbox license"
        >
          Деятельность подлежит лицензированию
        </b-form-checkbox>
        <div class="form-group">
          <label for="typeLicense" class="col-form-label col-form-label-sm">Вид лицензии</label>
          <input
            type="text"
            class="form-control"
            id="typeLicense"
            placeholder="Введите вид лицензии"
          >
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="numberLicense" class="col-form-label col-form-label-sm">Номер лицензии</label>
              <input
                type="text"
                class="form-control"
                id="numberLicense"
                placeholder="000000000000000 "
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="IssuedBy" class="col-form-label col-form-label-sm">Кем выдана</label>
              <input
                type="text"
                class="form-control"
                id="IssuedBy"
                placeholder="Организация, выдавшая лицензию"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="dateIssue" class="col-form-label col-form-label-sm">Дата выдачи</label>
              <b-form-input id="dateIssue" type="date"></b-form-input>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="validity" class="col-form-label col-form-label-sm">Срок действия</label>
              <b-form-input id="validity" type="date"></b-form-input>
            </div>
          </div>
        </div>
        <b-form-checkbox
          v-model="statusPerpetLicense"
          size="lg"
          class="checkbox license"
        >
          Бессрочная лицензия
        </b-form-checkbox>
        <div class="form-group">
          <label for="typeLicense" class="col-form-label col-form-label-sm">
            Перечень видов лицензируемой деятельности
          </label>
          <input
            type="text"
            class="form-control"
            id="typeLicense"
            placeholder="Перечислите виды деятельности, подлежащие лицензированию"
          >
        </div>
      </div>

      <div class="form">
        <div class="title makingEP">
          Данные о внесении в ЕГРЮЛ/ИП
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="Number" class="col-form-label col-form-label-sm">Номер свидетельства о внесении</label>
              <input
                type="text"
                class="form-control"
                id="Number"
                placeholder="000000000000000"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dateEntry" class="col-form-label col-form-label-sm">Дата внесения</label>
              <b-form-input id="dateEntry" type="date"></b-form-input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="governmentAgency" class="col-form-label col-form-label-sm">
            Государственный орган, осуществивший внесение
          </label>
          <input
            type="text"
            class="form-control"
            id="governmentAgency"
            placeholder="Наименование государственного органа"
          >
        </div>
      </div>

      <div class="form">
        <div class="title">
          Данные о Руководителе
        </div>
        <div class="form-group">
          <label for="FIO" class="col-form-label col-form-label-sm">
            Фамилия, имя и отчество
          </label>
          <input
            type="text"
            class="form-control"
            id="FIO"
            placeholder="Иванов Иван Иванович"
          >
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="Number" class="col-form-label col-form-label-sm">
                Контактный телефон руководителя
              </label>
              <input
                type="tel"
                class="form-control"
                id="Number"
                value="+7"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="email" class="col-form-label col-form-label-sm">
                Контактный e-mail руеоводителя
              </label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="mail@mtsbank.ru"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="position" class="col-form-label col-form-label-sm">Должность</label>
              <input
                type="text"
                class="form-control"
                id="position"
                placeholder="Укажите занимаемую должность"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dateBirth" class="col-form-label col-form-label-sm">Дата рождения</label>
              <b-form-input id="dateBirth" type="date"></b-form-input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="FIO" class="col-form-label col-form-label-sm">
            Место рождения
          </label>
          <input
            type="text"
            class="form-control"
            id="FIO"
            placeholder="Как в документе, удостоверяющем личность"
          >
        </div>
        <b-form-group label="Гражданство РФ">
          <div class="radio-group">
            <b-form-radio
              v-model="selectCitizenship"
              name="some-radios"
              value="true"
              size="lg"
              class="radio"
            >Да</b-form-radio>
            <b-form-radio
              v-model="selectCitizenship"
              name="some-radios"
              value="false"
              size="lg"
              class="radio"
            >Нет</b-form-radio>
          </div>
        </b-form-group>
        <b-form-select
          :options="countries"
          placeholder="Выберите страну"
        ></b-form-select>
      </div>

      <div class="form">
        <div class="title">
          Документ, удостоверяющий личность
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="series" class="col-form-label col-form-label-sm">Серия</label>
              <input
                type="text"
                class="form-control"
                id="series"
                placeholder="0000"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="numberPassport" class="col-form-label col-form-label-sm">Номер</label>
              <input
                type="text"
                class="form-control"
                id="numberPassport"
                placeholder="000000"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dateIssuePassport" class="col-form-label col-form-label-sm">Дата выдачи</label>
              <b-form-input id="dateIssuePassport" type="date"></b-form-input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="issuedBy" class="col-form-label col-form-label-sm">
            Кем выдан
          </label>
          <input
            type="text"
            class="form-control"
            id="issuedBy"
            placeholder="Как в документе, удостоверяющем личность"
          >
        </div>
      </div>

      <div class="form">
        <div class="title">
          Данные миграционной карты
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="cardData" class="col-form-label col-form-label-sm">Номер</label>
              <input
                type="text"
                class="form-control"
                id="cardData"
                placeholder="000000000"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="cardSeries" class="col-form-label col-form-label-sm">Серия</label>
              <input
                type="text"
                class="form-control"
                id="cardSeries"
                placeholder="000000000"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="startDate" class="col-form-label col-form-label-sm">
                Дата начала пребывания
              </label>
              <b-form-input id="startDate" type="date"></b-form-input>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dateStay" class="col-form-label col-form-label-sm">
                Дата окончания срока прибывания
              </label>
              <b-form-input id="dateStay" type="date"></b-form-input>
            </div>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="title">
          Данные визы/разрешения на временное пребывание/вида на жительсво
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="visaNumber" class="col-form-label col-form-label-sm">Номер</label>
              <input
                type="text"
                class="form-control"
                id="visaNumber"
                placeholder="000000000"
              >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="visaSeries" class="col-form-label col-form-label-sm">Серия</label>
              <input
                type="text"
                class="form-control"
                id="visaSeries"
                placeholder="000000000"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="startDateVisa" class="col-form-label col-form-label-sm">
                Дата начала пребывания
              </label>
              <b-form-input id="startDateVisa" type="date"></b-form-input>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dateStayVisa" class="col-form-label col-form-label-sm">
                Дата окончания срока прибывания
              </label>
              <b-form-input id="dateStayVisa" type="date"></b-form-input>
            </div>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="title">
          Являетесь ли вы публичным должностным или иностранным публичным должностным лицом?
        </div>
        <b-form-group>
          <div class="radio-group">
            <b-form-radio
              v-model="selectCitizenship"
              name="some-radios"
              value="true"
              size="lg"
              class="radio"
            >Да</b-form-radio>
            <b-form-radio
              v-model="selectCitizenship"
              name="some-radios"
              value="false"
              size="lg"
              class="radio"
            >Нет</b-form-radio>
          </div>
        </b-form-group>
      </div>

      <div class="form">
        <b-button variant="danger" size="lg">Далее <b-icon icon="arrow-right-short"/></b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Form',
  data () {
    return {
      statusAddress: false,
      statusLicense: false,
      statusPerpetLicense: false,
      selectCitizenship: '',
      countries: [
        { text: 'Россия' },
        { text: 'Беларусь' },
        { text: 'Украина' }
      ],
      valueAddress: ''
    }
  },
  computed: {
    checkboxStatus () {
      if (this.statusAddress) {
        return this.valueAddress
      } else {
        return ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
.container {
  border: 2px solid #E2E5EB;
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}
@media screen and (min-width: 634px) {
  .container {
    padding: 0px;
  }
}
.wrap {
  width: 66%;
  padding-top: 16px;
  padding-bottom: 120px;
}
@media screen and (max-width: 634px) {
  .wrap {
    width: 100%;
  }
}
.description {
  color: #6E7782;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 32px;
}
.title {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 20px;
}
.form {
  padding-top: 24px;
}
.checkbox {
  font-size: 16px;
  &.license {
    padding-bottom: 10px;
  }
  &.address {
    padding-top: 20px;
  }
}
.radio-group {
  display: flex;
  width: 50%;
}
.radio {
  font-size: 16px;
  line-height: 24px;
  width: 50%;
}
</style>
