<template>
  <div id="app">
    <header>
      <div id="nav" class="container">
        <div class="arrow">
          <router-link to="/page=1">
            Страница 1
            <b-icon icon="arrow-right-short"/>
          </router-link>
        </div>
        <router-link to="/page=2">Страница 2</router-link>
      </div>
    </header>
    <main class="content">
      <router-view/>
    </main>
    <footer>
      <div class="footer"></div>
    </footer>
  </div>
</template>

<style scoped lang="scss">
.container {
  padding-top: 73px;
  padding-bottom: 33px;
  display: flex;
}
.arrow {
  margin-right: 15px;
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
.footer {
  height: 64px;
  background: #F2F3F7;
}
</style>
